.full {
    display:flex;
    width:99.8%;
}

.third {
    display:flex;
    width: 33.2%;
}

.sixth {
    display:flex;
    width: 16.6%;
}

.button-box {
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    background-color: black;
    padding: 1%;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap ;
    align-items: center;
    background-image: url("./images/calculatorBackground.jpg");
    height:1000px;
    justify-content: center;
}
div.parentElement{text-align: center;}

.button-box button {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.button-box input {
    display:flex;
    background-color: black;
    color: red;
    justify-items: center;
    width: 100%;
}

.button-box h1 {
    width: 100%;
    color: red;
}
